---
layout: base
---

<div class="ui inverted blue center aligned segment summary">
    <h1>
        <i class="basic big marker icon"></i><a href="{{ site.baseurl }}/"> {{ site.title }}</a>
    </h1>

    <h2 class="ui justified">
        Interrogez les référentiels géographique plus facilement.
    </h2>
    <a href="#">
        <button class="ui huge right labeled teal icon button">Documentation <i class="right book icon"></i> </button>
    </a>
</div>

{% include get-started.html %}

{% assign sorted = (site.calls | sort: 'priority') %}
{% for call in sorted %}
  {{ call.output }}
{% endfor %}
