---
layout: base
---

<div class="ui inverted blue center aligned segment summary">
    <h1>
        <i class="basic big map signs icon"></i><a href="{{ site.baseurl }}/"> {{ site.title }}</a>
    </h1>

    <h2 class="ui header">
        Interrogez les référentiels géographiques plus facilement.
    </h2>
    <form action="{{ site.documentation }}">
      <button type="submit" value="Documentation" class="ui huge right labeled teal icon button">Documentation <i class="right book icon"></i> </button>
  </form>
</div>

{% include get-started.html %}

{% assign sorted = (site.calls | sort: 'priority') %}
{% for call in sorted %}
  {{ call }}
{% endfor %}
