<div class="six wide column">
    <h1 class="ui header">
      <i class="{{ page.icon }} icon"></i>{{ page.title }}
    </h1>
    <p>{{ page.sub-title }}</p>
    {% if page.description %}
      <p>{% include {{ page.description }} %}</p>
    {% endif %}
    {% if page.tips %}
    <div class="ui info message">
        <div class="header"><i class="idea icon"></i> Bon à savoir</div>
        <p>{{ page.tips }}</p>
    </div>
    {% endif %}
    {% if page.warning %}
    <div class="ui warning message">
        <div class="header"><i class="warning icon"></i> Attention</div>
        <p>{{ page.warning }}</p>
    </div>
    {% endif %}
</div>
