<footer>

    <div class="ui vertical footer inverted segment">
        <div class="ui container">
            <div class="ui divided very relaxed inverted three columns grid">
                <div class="column">
                    <h2 class="footer-heading">{{ site.title }}</h2>

                    <div class="ui bulleted list">
                        {% for contact in site.data.contacts %}
                          <div class="item"><a href="{{ contact.link }}">{{ contact.name }}</a></div>
                        {% endfor %}
                        <div class="item"><a href="mailto:{{ site.email }}">{{ site.email }}</a></div>
                    </div>
                </div>
                <div class="column">
                    <div class="ui list">
                        <div class="item">
                            {% if site.github_username %}
                            <div class="content">
                              {% include github-link.html username=site.github_username %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="column">
                    <p>{{ site.description }}</p>
                </div>
            </div>
        </div>
    </div>

</footer>
