<footer>

    <div class="ui vertical footer inverted segment">
        <div class="ui container">
            <div class="ui divided very relaxed inverted three columns grid">
                <div class="column">
                    <h4 class="ui inverted header">Partenaires</h4>

                    <div class="ui bulleted list">
                        {% for partner in site.data.partners %}
                        <div class="item"><a href="{{ partner.link }}">{{ partner.name }}</a></div>
                        {% endfor %}
                    </div>
                    <h4 class="ui inverted header">Contacts</h4>
                    <div class="ui bulleted list">
                        {% for contact in site.data.contacts %}
                        <div class="item"><a href="mailto:{{ contact.email }}">{{ contact.name }}</a></div>
                        {% endfor %}
                    </div>
                </div>
                <div class="column">
                    <h4 class="ui inverted header">Participer</h4>
                    <div class="ui list">
                        {% if site.github_repository %}
                        <div class="item">
                            <div class="content">
                                {% include github-link.html %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="column">
                  <h2>
                      <i class="basic big map signs icon"></i> {{ site.title }}
                  </h2>
                    <p>{{ site.description }}</p>
                </div>
            </div>
        </div>
    </div>

</footer>
