<header class="site-header">
    <div class="ui container">
        <div class="ui large secondary pointing menu">
            <div class="left item">
                <a href="{{ site.baseurl }}"><img class="ui tiny image" src="{{ site.baseurl }}/img/logo-marianne.gif"></a>
            </div>
            <a class="active item" href="#">API Guide</a>
            <a class="item" href="#mapid">Essayer</a>
            <div class="right item">
                <a class="ui blue button menu" href="{{ site.documentation }}">Documentation</a>
            </div>
        </div>
    </div>


</header>
