<div class="ui grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
        <div class="ui fluid search">
            <div class="ui big fluid icon input">
                <input class="prompt" type="text" placeholder="Rechercher une commune...">
                <i class="search icon"></i>
            </div>
            <div class="results"></div>
        </div>
    </div>
    <div class="four wide column"></div>
</div>

<div class="ui grid">
  <div class="six wide column"></div>
  <div class="ui middle aligned divided list response"></div>
</div>

<div class="ui grid">
  <div class="six wide column"></div>
  <div class="ui four wide column toggle checkbox">
    <input type="checkbox" name="public">
    <label>Boost par population</label>
  </div>
  <div class="six wide column"></div>
</div>
