<div id="{{ page.priority }}" class="ui {{ page.color | default: 'blue' }} grid aligned segment call">
    <div class="one wide column"></div>

    {% if page.side == 'left' %}
      {% include call-description.html %}
      {% include call-example.html %}

    {% else %} {% comment %} Same but reverse {% endcomment %}

      {% include call-example.html %}
      {% include call-description.html %}

    {% endif %}

    {% if page.icon == 'compass' %}
      <div class="sixteen wide column">
        {% include try-geo.html %}
      </div>
    {% endif %}
</div>

<div class="one wide column"></div>
