<div id="{{ page.priority }}" class="ui {{ page.color | default: 'blue' }} grid aligned segment call">
    <div class="one wide column"></div>

    {% if page.side == 'left' %}
      {% include call-description.html %}
      {% include call-example.html %}

    {% else %} {% comment %} Same but reverse {% endcomment %}

      {% include call-example.html %}
      {% include call-description.html %}

    {% endif %}

    {% if page.try %}
      <div class="sixteen wide column">
        <h1 class="ui horizontal divider"> Essayez-moi </h1>
        <div class="ui aligned segment">
          {% include {{ page.try }} %}
        </div>
      </div>
    {% endif %}
</div>

<div class="one wide column"></div>
